<header class="site-header">
    <div class="container">
        <div class="site-title">
            <a href="/">Pedro <strong class="modolo">Modolo</strong></a>
        </div>
        <nav class="nav-menu">
            <a href="/about/" class="nav-link">About</a>
            <a href="/research/" class="nav-link">Research</a>
            <a href="/projects/" class="nav-link">Projects</a>
            <a href="/cv/" class="nav-link">CV</a>
            <a href="/contact/" class="nav-link">Contact</a>
        </nav>
    </div>
</header>
