// Custom Styles
body {
    background-color: #FFFFFF;
    color: #000000;
}

.site-title {
    color: #001F3F;
}

a {
    color: #001F3F;
}

.navbar {
    background-color: #001F3F;
}

.site-footer {
    background-color: #000000;
    color: #FFFFFF;
}
